<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
    
      <div class="wrapper">
        
         {% include "navigation.html" %} 
    </div>

  <section id="home" class="sec-main">
    <h1 class="main-heading">  </h1>
  {% include "logoflower.svg" %}
    
  {% include "cassiegalvez.svg" %}
  </section>
        
        
            <section id="about" class="sec-about">
    <div class="container">
      <h1>a little bit more about me.</h1>

      <hr />

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Hello, again! As you may know, my name is Cassie, and I was born and raised in Pasco, Washington. My love for graphic design began when I was a young girl, who spent one too many hours behind a computer screen. I began creating pieces of "artwork" on good ol' Microsoft Paint, eventually working my way up to Adobe Photoshop, and the rest is history. </p>
            <p>I studied Visual Communication Design and User Experience at Eastern Washington University in Cheney, Washington, where I expanded my knowledge on design, typography, animation, videography, photography, web design, etc., and I loved every second of it. While at EWU, I worked as a Student Graphic Artist. After college, I moved back home to the Tri-Cities and here I am!  </p>
          <p>I am creator. A designer. A self-proclaimed cat lady. A sister. A daughter. A feminist. A girly girl. An optimist.  </p>
  
         </div>
      </div>
        
      
      
    </div>
  </section>

                  
        
        
 

  <section id="myexperience" class="sec-myexperience">
    <div class="container">
 <h1>experience.</h1>
      <hr />
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

    <div id="myexperience" class="sec-myexperience">
      
<div id="education">
  <h2 class="title education underline">Education</h2>
  <div class="history">
    <div class="entry">
      <h3>
        <span class="place">Eastern Washington University</span>
        <span class="time">2016-2018</span>
      </h3>
      <p>Bachelor of Arts in Visual Communication Design</p>
      <p>Certificate in User Experience Design</p>
    </div>
    <div class="entry">
      <h3>
        <span class="place">Columbia Basin College</span>
        <span class="time">2014-2016</span>
      </h3>
      <p>Associate of Arts</p>
    </div>    
  </div>
  
</div>

<div class="section experience" id="experience">
  <h2 class="title experience underline">Experience</h2>
  <div class="history">
        <div class="entry">
      <h3>
        <span class="place">Graphics & Publications Manager</span>
        <span class="time">August 2018-present</span>
          </h3>
      <p>Pasco, WA</p>
    </div>
    <div class="entry">
      <h3>
        <span class="place">Graphic Artist</span>
        <span class="time">June 2017-August 2018</span>
      </h3>
      <p>Cheney, WA</p>
    </div>
  </div>
</div>
   
   <div class="section experience" id="experience">
  <h2 class="title experience underline">awards</h2>
  <div class="history">
    <div class="entry">
      <h3>
        <span class="place">AWARD OF MERIT - MARKETING</span>
        <span class="time">May 2019</span>
      </h3>
      <p><i>The Washington School Public Relations Association</i></p>
      <p>Leavenworth, WA</p>
    </div>
        <div class="entry">
      <h3>
        <span class="place">AMERICAN ADVERTISING AWARD</span>
        <span class="time">April 2019</span>
      </h3>
          <p><i>AAF District XI </i></p>
          <p>Pacific Northwest (Washington, Oregon, Idaho, Montana, Alaska)</p>
    </div>
     <div class="entry">
      <h3>
        <span class="place">AMERICAN ADVERTISING AWARD</span>
        <span class="time">Feb. 2019</span>
      </h3>
       <p><i>AAF Spokane</i></p>
       <p>Spokane, WA</p>
    </div>
    
    <div class="entry">
      <h3>
        <span class="place">STUDENT PHOTOGRAPHER OF THE YEAR</span>
        <span class="time">Feb. 2016</span>
      </h3>
      <p><i>Professional Photographers of Washington</i></p>
      <p>Pasco, WA</p>
    </div>
  </div>
</div>
   

          
        </div>
      </div>
    </div>


          </section>

  



          
        </div>
      </div>
    </div>
  </section>
 
        
        
    <section id="team" class="sec-team">
    <div class="container">
      <h1>my team.</h1>

     <hr />

      <div class="row">
        <div class="col-sm-6">
         

          <h2 class="h3">Charlie</h2>

          <p><i>Professional Good Boy</i></p>
          <p><b>Also Known As: </b> Ryan Pawsling</p>
          <p><b>Astrological Sign: </b> Libra</p>
          <p><b>Favorite Quote: </b> "It's hip to be snipped!"</p>
          <p><b> Likes: </b> sleeping, TEMPTATIONS&#8482; Cat Treats</p>
          <p><b> Dislikes: </b> nothing</p>
          
       
        </div>

        <div class="col-sm-6">
      

          <h2 class="h3">Penny</h2>

          <p><i>Assistant Pur-ector</i></p>
           <p><b>Also Known As: </b> Pennifer Lopez</p>
          <p><b>Astrological Sign: </b> Sagittarius</p>
          <p><b>Favorite Quote: </b> "Prevent a litter, fix your critter!"</p>
          <p><b> Likes: </b> food, belly rubs, TEMPTATIONS&#8482; Cat Treats</p>
          <p><b> Dislikes: </b> the bottom of her food bowl, plastic bags </p>

          
        </div>

        
      </div>
    </div>
  </section>
    
    
   
 {% include "footer.html" %} 
</div>
 
          {% include "includes/scripts.html" %} 
        
</body>
</html>