<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
    
      <div class="wrapper">
        
         {% include "navigation.html" %} 
    </div>

  <section id="home" class="sec-main">
    <h1 class="main-heading"> Cocoa Casador Packaging </h1>
  {% include "logoflower.svg" %}
    
  </section>
        
        
            <section id="about" class="sec-about">
    <div class="container">
      <h1>A Little Bit More About Me</h1>

      <hr />

      <div class="row">
        <div class="col-sm-12">
          <p>Cocoa Casador is a fictional, Mexican hot cocoa brand created by myself. 
            <img class="bigimage" src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/4.jpg" alt=""></p>

            
  
         </div>
      </div>
        
      
      
    </div>
  </section>


 

    
    
   
 {% include "footer.html" %} 
</div>
 
          {% include "includes/scripts.html" %} 
        
</body>
</html>