<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
    
      <div class="wrapper">
           {% include "navigation.html" %} 
      
    </div>
  <section id="home" class="sec-main">
    <h1 class="main-heading">  </h1>
  {% include "logoflower.svg" %}
    
  {% include "cassiegalvez.svg" %}
  </section>

    <section id="services" class="sec-services">
    <div class="container">
      <h1>what i do.</h1>

     <hr />

      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fas fa-camera-retro"></i>

          <h2 class="h3">Portrait Photography</h2>

          <p>Portraits worth a thousand words.</p>
                <p>
          <ul class="morelist" style="list-style-type:disc">
  <li>Family</li>
  <li>Senior</li>
  <li>Events</li>
            <li>Fashion</li>
          </ul>

          
          </p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fas fa-pencil"></i>

          <h2 class="h3">Branding and Promotional</h2>

          <p>Establish your brand identity through logos, marketing materials, and more.</p>
          
            <p>
          <ul class="morelist" style="list-style-type:disc">
  <li>Product and commercial photography</li>
  <li>Logos</li>
  <li>Business cards</li>
            <li>Packaging</li>
            <li>Clothing</li>
            <li>Flyers and posters</li>
          </ul>

          
          </p>
          
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fas fa-user"></i>

          <h2 class="h3">Personalized Artwork</h2>

          <p>From party invitations to artwork to display in your home, I got you covered. </p>
                <p>
          <ul class="morelist" style="list-style-type:disc">
  <li>Invitations</li>
  <li>Illustrated Portraits</li>
  <li>Wall decor</li>
          </ul>
          
          </p>
        </div>
      </div>
    </div>
  </section>
    

  <section class="image">
    <div class="backgroundImage" id="first"></div>
  </section>  

    
     <section id="folio" class="sec-folio">
    <div class="container">
      <h1>the goods.</h1>

      <hr />

     <div class="gallery">

<div class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">all</button>
    <button class="button" data-filter=".photography">photography</button>
    <button class="button" data-filter=".branding">branding/promotional</button>
    <button class="button" data-filter=".personalized">individualized</button>
       </div>  

<section id="grid-container" class="transitions-enabled fluid masonry js-masonry grid"> 
    <article class="photography branding"> 
      <img src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/4.jpg" class="img-responsive" /> </a>
    </article>
       
           <article class="personalized">
        <img src="https://i.ibb.co/dLBQQCH/IMG-4677.jpg" class="img-responsive" />
    </article>
    <article class="branding personalized">
        <img src="https://i.ibb.co/bQzsNhY/IMG-4616.jpg" class="img-responsive" />
    </article>
    <article class="photography branding">
        <img src="https://i.ibb.co/rd2F55F/IMG-4602.jpg" class="img-responsive" />
    </article>
    <article class="branding">
        <img src="https://i.ibb.co/6HdQphN/IMG-4587.jpg" class="img-responsive" />
    </article>
    <article class="branding">
        <img src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/jasmine.jpg" class="img-responsive" />
    </article>
    <article class="photography">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4867165/preflight1.jpg" class="img-responsive" />
    </article>
    <article class="photography branding">
        <img src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/sparkcentral.png" class="img-responsive" />
    </article>
    <article class="photography">
        <img src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/JNS_4789.JPG" class="img-responsive" />
    </article>
    <article class="personalized">
        <img src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/JNS_4953.JPG" class="img-responsive" />
    </article>
    <article class="photography">
        <img src="https://raw.githubusercontent.com/cassiegzzz/underconstruction/master/img/JNS_5152.jpg" class="img-responsive" />
    </article>
    <article class="branding photography">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4867125/3.jpg" class="img-responsive" />
    </article>
    <article class="photography">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4867118/2.jpg" class="img-responsive" />
    </article>
    <article class="photography">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4817739/Transfer_Student_Resources.jpg" class="img-responsive" />
    </article>
    <article class="branding photography">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4817660/spark_poster-01.png" class="img-responsive" />
    </article>
    <article class="personalized">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4817723/2.png" class="img-responsive" />
    </article>
    <article class="photography branding">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4817765/5.png" class="img-responsive" />
    </article>
    <article class="photography">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/860604/images/4817720/1.png" class="img-responsive" />
    </article>

</section>
  


         </div> 
     
    </div>

       
  
  </section>
  
       <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
  </div>

       <section class="image">
    <div class="backgroundImage" id="more"></div>
  </section>  
    
    
    <section id="about" class="sec-about">
    <div class="container">
      <h1>who am i?</h1>

      <hr />

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Hello! My name is Cassie and I am a graphic designer based in Tri-Cities, Washington, and my passion is creating functional yet aesthetically pleasing designs. <br> <br>
            I earned a Bachelors degree in Visual Communication Design and a Certificate in User Experience from Eastern Washington University in 2018. I am a 2019 finalist in the national AAF American Advertising Awards (The ADDYs, it's like the Grammy's for advertising!) after winning Silver in the District XI competition amongst other designers in Alaska, Idaho, Montana, Oregon, and Washington. I have over two years of professional design experience, mostly in promotional design and photography, and am proficient in Adobe Photoshop, Illustrator, InDesign, Premiere Pro, and After Effects. <br> <br>
            
         <a href="/about.html">  <button class="button">More</button> </a>
         </div>
      </div>
        
  
    </div>
  </section>
       
         <section class="image">
    <div class="backgroundImage" id="last"></div>
  </section>  

         {% include "footer.html" %} 
 
</div>
 
          {% include "includes/scripts.html" %} 
        
</body>
</html>